# Lesson 3: Displaying text and calculations together

Youâ€™ve seen that strings are used to store text, while integers and floats are used to store numbers.

<b>Strings</b>:

- `"Hello, world"`

- `"My favorite drink is Earl Grey tea"`

<b>Integers and floats</b>:

- `42`

- `3.14`

You have also seen that you can display data with `print()`:

- `print("Hello, World!")`

And you can use Python as a calculator:

- `print(3 * 4.5)`

In this lesson, you will see how to mix computations and strings together to display results in a readable way using Python's f-strings.

In [1]:
print("Addition: 2+3")

Addition: 2+3

In [5]:
# this can be achieved like this
print("Average: ",-860/6,"a")

Average:  -143.33333333333334 a

In [4]:
print("Hello "+ "world")
print("Average: " + 860) # error

Hello world

TypeError: can only concatenate str (not "int") to str

In [6]:
print("Average: "+" Hammad")

Average:  Hammad

## Mixing strings with computations or data: f-Strings

If you wanted to display the equivalent degrees Celsius to a temperature in degrees Fahrenheit, you would do something like this:

In [ ]:
print(((75 - 32) * 5 / 9))

Now, if you wanted to display that degrees conversion using a string that included the computation, you could try:

In [ ]:
print("The temperature 75F in degrees Celsius is ((75 - 32) * 5 / 9)C")

But that doesn't work. It gives you back the formula, but it doesn't actually convert from degrees Fahrenheit to Celsius.

To print the result of the computation within that string rather than just the formula, you can use what is called an <b>f-string</b> in Python which looks like this:

### Try yourself

In [ ]:
# Make it work: Convert 75Â°F to Celsius and print the result
print("The temperature 75F in degrees Celsius is ((75 - 32) * 5 / 9)C")

In [7]:
print(f"Addition:  {2+3}   subtraction: {4-3}")

Addition:  5   subtraction: 1

In [ ]:
# using escape sequence and using multiple line string with f-string

# -----output------
# Multiplication: 10meters
# Division: 2 meters

In [9]:
print(f"""Multiplication: {2*5}meters
Division: {10/2} meters""")

Multiplication: 10meters
Division: 5.0 meters

In [10]:
print(f"The temperature 75F in degrees celsius is {(75 - 32) * 5 / 9}C")

The temperature 75F in degrees celsius is 23.88888888888889C

There, I have written `f` (for formatted) before the quotation marks that denote a string, and I included the computation within curly braces `{(75 - 32) * 5 / 9}`. The f in an f-string tells Python that the string can include placeholders (inside { }) where you can put variables or calculations. Python will replace those placeholders with their actual values when the string is created.

## Determining how data is displayed in f-strings

Let's go through another example. You can print Isabel's age as follows:

In [11]:
print("Isabel is 29 years old.")

Isabel is 29 years old.

In some countries, there exists the concept of dog age. Since people live longer than dogs on average, someone's dog age is supposed to be one-seventh of their real human age. So, if you wanted to compute and display Isabel's dog age in a readable way, you wouldn't use a regular string like the one below.

In [12]:
print("Isabel is 29/7 dog years old.")

Isabel is 29/7 dog years old.

Instead, you would use an f-string that includes the dog age equivalency computation as in the temperature conversion example.

In [18]:
print(f"Isabel is {29/7} dog years old.")

Isabel is 4.142857142857143 dog years old.

Now, you see that the last print statement did work, but it displayed the number with decimal place. What if you wanted to display a whole number, which is much more natural when speaking about ages? You can use the chatbot to answer that question. Feel free to copy and paste the prompt provided below or use your own, using it as a guideline:

<p style="background-color:#F5C780; padding:15px"> ðŸ¤– <b>Use the Chatbot</b>: Modify this code to print the answer without any characters after the decimal place: print(f"Isabel's dog age is {28/7}.")  
</p>

If you used that prompt, or another similar one, you would have gotten the code provided below.

In [19]:
print(f"Isabel is {29/7:.2f} dog years old.")

Isabel is 4.14 dog years old.

In [28]:
#other ways
print(33/7)
print(f"Isabel's dog age is {round(33/7)}.")  # rounded to nearest whole number
print(f"Isabel's dog age is {int(33/7)}.")    # converted to integer (truncates decimals)
print(f"Isabel's dog age is {33//7}.")        # # floor division (also removes decimal part)

4.714285714285714
Isabel's dog age is 5.
Isabel's dog age is 4.
Isabel's dog age is 4.

In [21]:
print(round(1.4))

1

In [22]:
print(int(1.9))

1

In [25]:
print(5//2)

2

In `f"{28/7:.0f}"`, the `:.0f` part tells Python to display the result of `28/7` without any decimal places. You donâ€™t need to worry too much about the details, but the `f` in `:.0f` indicates that the number is a floating-point number and should be formatted accordingly. This means it will be rounded to the nearest whole number and displayed without any decimal part.

<b>You just used AI to help you code!</b> You provided it with a piece of code that works in one way (displaying a number with decimal places) and asked it to modify it to work in a different way (displaying a number without decimal places).

<b>Congratulations ðŸŽ‰ðŸŽ‰ðŸŽ‰</b>

## Multi-line f-strings

So far, you have worked with strings that have a relatively small length. For lengthy strings, you will use multi-line strings, which are easier to read in a code editor.

The following multi-line f-string includes a description of how Americans use measurements in units that are not in the metric system. It displays the equivalent milliliters (ml) for 8 fluid ounces of milk and the equivalent fluid ounces to 100 ml of water.

In [ ]:
print(f"""
    Most countries use the metric system for recipe measurement,
    but American bakers use a different system. For example, they use
    fluid ounces to measure liquids instead of milliliters (ml).

    So you need to convert recipe units to your local measuring system!

    For example, 8 fluid ounces of milk is {int(8 * 29.5735)} ml.
    And 100ml of water is {100 // 29.5735} fluid ounces.
""")

As you see there, you have to use triple quotes `"""` instead of single quotes `"` for multi-line strings, and you have multiple lines with text and computations; but besides that, everything works pretty much the same way.

You may have noticed that the way you are using f-strings right now is not that easy to read. All those numbers inside the curly braces don't let you see at a glance what the output is going to be, and if you have lots of calculations, it can be distracting.

In the next lesson, you'll see how to make your code easier to read, more flexible and reusable at the same time.

## Extra practice

Try the exercises below to practice the concepts from this lesson. Read the comments in each cell with the instructions for each exercise.

<b>Feel free to use the chatbot if you need help.</b>

In [ ]:
# Modify the code to print your age
print(f"I am {} years old.")n

In [ ]:
# Fix this code
print(f"There are {365/7 weeks in a year")

In [ ]:
# Complete the code
print(f"The area of a square with side 5 cm is {} cm squared.")

In [33]:
# Modify the code to display one decimal place
print(f"The house was a good size: 1200 square feet, or {1200 * 0.092903:.1f} meters squared!")
print(f"The house was a good size: 1200 square feet, or {1200 * 0.092903} meters squared!")

The house was a good size: 1200 square feet, or 111.5 meters squared!
The house was a good size: 1200 square feet, or 111.4836 meters squared!

In [31]:
# Modify the code to display one decimal place
print(f"The house was a good size: 1200 square feet, or {round(1200 * 0.092903,1)} meters squared!")

The house was a good size: 1200 square feet, or 111.5 meters squared!