# Variables

In computer programming, <b>variables</b> are used to store, process, and manipulate data. So, let's say you wanted to store `28` in the variable `age`, this is what you would do:

In [10]:
# -----syntax------
# variable_name: data-type(type-hint) = value # = is called assignment operator

# datatypes -> int, str, float, list, bool, dict, set

# ------ Example ------
age : int = 22
# age
print(age)
# in c++ e.g. int a=3;

22

In [11]:
# how to print the variable value
print(age)
print(age)
age

22
22

22

In [8]:
print("hello")
22

hello

22

In [14]:
id(age)

10751528

In [15]:
type(age)

int

In [16]:
print(type(age))

<class 'int'>

In [13]:
print(f"Age: {age+10}")

Age: 32

In [ ]:
# int age # c or c++ language

In [ ]:
print("Age: ",age)
# print("Age: "+age)

So if you used `print()` with `age` as an argument, you would get the value that you assigned to that variable.

In [ ]:
print(age)
print(type(age))  # Shows that age is an int

# age is an object belonging to the 'int' class

# In Python, everything is an object

#   Objects have:
# - methods = actions (i.e: coding)
# - attributes = An attribute is just a piece of stored information that belongs to an object

# Attributes are like nouns‚Äîfacts about the object.

# Methods are like verbs‚Äîactions the object can perform.

# See all methods and attributes of the 'age' object

# object.method()
# object.attribute
age.
# Show only the user-friendly methods (hide magic methods like __add__)
# print([i for i in dir(age) if '__' not in i])

In [17]:
print(age.real) # attribute: 22 ‚Äî the ‚Äúreal-part‚Äù value

22

In [ ]:
# z = 3 + 4j
# print("z.real =", z.real)          # Attribute
# print("z.imaginary =", z.imag)
# print("z.conjugate() =", z.conjugate())        # Method

In [19]:
print(age.bit_length()) # method: action -- Calculates how many bits are needed

5

In [21]:
age = 300
print(age.bit_length())

9

In [22]:
dir(age)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_count',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [23]:
name : str = "John"
dir(name)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [26]:
print(name.upper())
print(name)

JOHN
John

With `age = 28` you are telling Python to create a variable named `age` and use it to store the value `28`. However, you can change the value assigned to any variable you previously created. For instance, you can assign a value of `5` to `age` using the following code:

In [31]:
age: int = 5
age = 10
age = 16

So if you display `age`, you will get `5` instead of `28`.

In [32]:
print(age)

16

In [42]:
# immutable: means does not change-- int, float
age1: int = 2
print(age1)
print(id(age1))

age1 = 5
print(age1)
print(id(age1))

2
10750888
5
10750984

In [38]:
age1 : int = 4
age2 :int = 4
print(id(age1))
print(id(age2))

10750952
10750952

In [43]:
# caching in limits(-5 to 255)
age3 : int = 10
print(age3)
print(id(age3))

age4 : int = 10
print(age4)
print(id(age4))

10
10751144
10
10751144

In [44]:
# no caching because exceeds the limit
age3 : int = 1000
print(age3)
print(id(age3))

age4 : int = 1000
print(age4)
print(id(age4))

1000
132460149244080
1000
132460149245040

Why Python does this?
- Caching small integers makes your program faster and uses less memory.
- Usually from `-5 to 256`.

- Larger numbers are less common and more memory-heavy, so Python doesn't cache them by default.

## Variables store numbers, strings and other type of data

Variables can be used to store floating point numbers, integers, strings, and other types of data. For instance, you can create a variable `name` and assign it the string `"Otto"`, or a variable `gnome_height` and assign it the floating point number `12.7`.

In [45]:
name: str = "Otto"
gnome_height: float = 12.7

You can use variables within f-strings to make your output more readable. For example, you can print the value assigned to `age` along with the string `"Age: "` so that anyone reading the display will understand what the value represents.

Here‚Äôs how you can do it:

In [46]:
print(f"Name : {name}")

Name : Otto

As another example, let's use f-strings to display the values assigned to `name` and `gnome_height`.

In [47]:
print(f"Name: {name}")
print(f"Gnome height: {gnome_height}")

Name: Otto
Gnome height: 12.7

<b>Important:</b> Variables are case-sensitive, so `Gnome_height` and `gnome_height` are not the same. To see this, you can run the next cell where you will get an error message.

In [48]:
print(f"Gnome height: {Gnome_height}")

NameError: name 'Gnome_height' is not defined

## Variables help you store values that constantly change

Take a game where the score starts at zero. In the next cell, you create a variable `score`, assign it the value of `0`, and display the current score.

In [ ]:
score: int = 0 # now score is 0
print(score)

When the score increases by 50 points, you can update the variable by using its previous value and adding `50`.

In [49]:
# Override
score = 6 # now score is 6 which is 6 -- new variable is created
print(score)

score = score + 6 # now score is 12
print(score)

score += 4 # score = score + 4 -- compound assignment operator
print(score)

6
12
16

In a similar way, when the score increases by 100 points, the variable `score` can be updated by adding `100` to the previous value stored in `score`.

In [51]:
# runs two times

score += 100 # now score is 100 + 16 which is 116 - this is short form
# score = score + 100 # now score is 100 + 16 which is 150
print(score)

216

And, after scoring an extra 300 points, the variable `score` is updated by adding `300` to the previous value stored in `score`.

In [52]:
score = score + 300 # now score is 116 + 300 which is 416
print(score)

516

So at the end, the variable `score` stores the most updated score value.

You can print the final score using an f-string as shown in the cell below:

In [53]:
print(f"Your final score was: {score}") # prints 416

Your final score was: 516

## Variable names restrictions OR Variable Naming Rules

1. They can only contain letters (a-z, A-Z), numbers (0-9), and underscores (_).
2. They cannot start with a number.
3. They are case-sensitive (myScore and myscore are different variables)
4. Make sure your variable names are descriptive
5.  Don't have spaces between words
6.  Don't use special words like print or input
7.  Choose simple words that are less likely to become typos
8.  Check the company style guidelines if you start work at a company
9.  Do not use reserve word

In [55]:
print : str = "Hello"
# print(print) # error

In [56]:
if : str = "Hello" # reserve word

SyntaxError: invalid syntax (<ipython-input-56-9f010560b52d>, line 1)

In [ ]:
# Age agE your_age 1age
# total_amount
# 2ndPlace
# user-name
# _cache
# print
# AvgScore
# first name
# temperature_C
# MAX_VALUE
# order#id
# longitudeLatitude
# sumTotal
# class
# __init__
# password123

In [ ]:
your_age: int = 10

To demonstrate an important fact about variable names in Python, try to run the code below.

In [ ]:
# No special character like space here i.e + - , *
my score: int = 450

Now, ask the chatbot why that code didn't work. You can use the prompt suggested here.

<p style="background-color:#F5C780; padding:15px"> ü§ñ <b>Use the Chatbot</b>: Why doesn't this code work? my score = 450
</p>

In [ ]:
# prompt: Why doesn't this code work? my score = 450

# The code "my score = 450" doesn't work because variable names in Python cannot contain spaces.
# Python variable names must follow specific rules:
#
#
# In the example "my score = 450", the space between "my" and "score" violates the first rule, making it an invalid variable name.
#
# To fix it, you could use an underscore to replace the space:
#
# my_score = 450
#
# Or you could combine the words without a space:
#
# myscore = 450

## Variables allow you to code efficiently!

Recall the dog age example that you saw in previous lessons. Assuming that Otto is 49 years old, you can display his dog age by using `print(49 / 7)`.

In [ ]:
print(49 / 7)

Using f-strings so that it is clear what you are displaying, you would use code similar to the one in the cell below.

In [ ]:
print(f"Otto's age in dog years is {49 / 7}")

Alternatively, now that you have seen how variables work, you can compute Otto's dog age and assign it to the variable `dog_age`.

In [ ]:
dog_age: float = 49 / 7

You can see how this would be an advantage if you consider the following scenario. Let's say you want to display an f-string with Otto's dog age multiple times. Without using variables, you would need to compute his dog age as many times as you refer to it.

In [ ]:
print(f"""Otto's dog age is {49/7}. So a dog that's about
{49/7} would be the same age as Otto. Any dog born about {49/7}
years ago would be in the same stage of life as Otto.""")

If Otto became a year older, you would need to change the values in each of the curly braces to `50/7`. Instead, if you used an f-string with the `dog_age` variable as the one below:

In [ ]:
print(f"""Otto's dog age is {dog_age}. So a dog that's about
{dog_age} would be the same age as Otto. Any dog born about {dog_age}
years ago would be in the same stage of life as Otto.""")

You will only need to update `dog_age` with Otto's new equivalent dog age:

In [ ]:
# Override
dog_age = 50/7

And use the same f-string that you used before without editing. By defining a variable once, you can use it in multiple places, which makes computer programs much more efficient.

In [ ]:
print(f"""Otto's dog age is {dog_age}. So a dog that's about
{dog_age} would be the same age as Otto. Any dog born about {dog_age}
years ago would be in the same stage of life as Otto.""")

As another example, you can replace the name "Otto" with the variable `name` in curly braces.

In [ ]:
print(f"""{name}'s dog age is {dog_age}. So a dog that's about
{dog_age} would be the same age as {name}. Any dog born about {dog_age}
years ago would be in the same stage of life as {name}.""")

This way, you can change Otto's name to his first and last name:

In [ ]:
name = "Otto Liam"

## Fix this code
And use the f-string where the change is reflected in all places where the variable `name` appears.

In [ ]:
print(f"""Ali's dog age is {dog_age}. So a dog that's about
{dog_age} would be the same age as Ali. Any dog born about {dog_age}
years ago would be in the same stage of life as Ali.""")

The following variable names also have some problems. Try to fix them yourself or use the help from the chatbot.

In [ ]:
# Fix this code
driver : str = "unicorn"
driver's vehicle : str = "colorful, asymmetric dinosaur car"
favorite planet : str = "Pluto

In [ ]:
# Fix this code
1favorite-book : str = "1001 Ways to Wear a Hat"
"2002 Ways to Wear a Scarf" = second_fav_book
print(f"My most favorite book is {1favorite-book}, but I also like {second_fav_book})

## Extra practice

Try the exercises below to practice the concepts from this lesson. Read the comments in each cell with the instructions for each exercise.

<b>Feel free to use the chatbot if you need help.</b>

In [ ]:
# Create a variable called 'my_name' and assign it the value of your name as a string.
# Then print out a greeting using the variable, like "Hello, Andrew!"

In [ ]:
# Enter your favorite number below and store it in a variable called 'fav_num'.
# Print out a message telling you what your favorite number plus 10 is.
fav_num =
print(f"Your favorite number plus 10 is {}")

In [ ]:
# Create two variables, 'countries_visited' and 'countries_to_visit' and assign them the number of
# countries you've been to and the number of countries you hope to visit. Then complete the print statement.



print(f"""I have visited {} countries. I plan to visit {} more countries,
      and when I'm done I will have visited {} countries.""")

## String Concatenation "+" and ",".And input() and len() function

## Quick Reference: String Concatenation, `input()`, and `len()`

In [6]:
name: str = input("Enter your name: ")

Enter your name: ali

In [4]:
print(type(name))

<class 'str'>

In [5]:
length : int = len(name)
print(length)

3

In [7]:
print("My name is" + " " + name," and it has ", length, "characters.")

My name is ali  and it has  3 characters.

In [ ]:
age : int = input("Enter your age: ")
print(type(age))

In [ ]:
print("your age will be after 10 years",age+10)