# Introduction to Tuples in Python

## What is a Tuple?

A tuple is an immutable, ordered collection of elements in Python. Tuples are similar to lists, but unlike lists, the elements of a tuple cannot be modified after it is created. Tuples are defined by enclosing elements in parentheses `()` and separating them with commas.

### Key Features of Tuples:

- **Hashable**: A data type is hashable if it cannot be changed after it is created (i.e., it is immutable) and has a fixed hash value during its lifetime.
Tuples can be used as keys in dictionaries only if all their elements are also hashable. This is because dictionary keys must be immutable and hashable.
Common hashable data types include: `int`, `float`, `str`, `tuple` (with hashable elements), and `frozenset`.
These data types contains `__hash__` function, therefore they are called hashable.

```python
x = (1, 2, 3)  # tuple is immutable
# x[0] = 10    ‚ùå Error! Cannot change tuple item

my_dict = {(1, 2): "tuple key"}  # tuple is hashable

```
- **Immutable**: Once created, the elements of a tuple cannot be changed.

- **Ordered**: Tuples maintain the order of elements. via index
- **Heterogeneous**: Tuples can contain elements of different data types.

In [ ]:
my_dict = {(1, 2): "tuple key", (1,3):"tuple value"}

In [1]:
tuple_example : tuple[int,str,float,int]= (1, "apple", 3.14, 1)
print(tuple_example)

(1, 'apple', 3.14, 1)

## Why Use Tuples?

### The Problem: Need for Immutable Data

In scenarios where you want to ensure the data remains constant throughout the program, lists might not be ideal due to their mutability. For instance, configuration settings or fixed data collections can benefit from immutability.

### The Solution: Tuples for Immutable Collections

Tuples provide a way to create collections that cannot be altered, ensuring data integrity and consistency.

- Memory Efficiency: Immutable tuples can be stored in a single block of memory, which makes them more memory-efficient than lists.
- Thread Safety: Immutable tuples are thread-safe, meaning that they can be safely accessed and shared between multiple threads without fear of modification.

## How Tuples Work

### Creating a Tuple

Tuples can be created in several ways:

1. **Using Parentheses:**

In [2]:
fruits : tuple[str,str,str] = ("apple", "banana", "cherry")
print(fruits[0])

apple

In [3]:
fruits: tuple[str, ...]  = ("apple", "banana", "cherry", "Mango")  # any length, all strs

2. **Without Parentheses:**

In [4]:
numbers : tuple[int,int,int] = 1, 2, 3
print(numbers)

(1, 2, 3)

In [ ]:
numbers: tuple[int, ...]  = 1, 2, 3, 4, 5   # any length, all ints

3. **Using the `tuple` Constructor or Function:**

In [5]:
tuple_from_list = tuple([1, 2, 3])
print(tuple_from_list)

(1, 2, 3)

4. **Using the `range` function:**

In [6]:
# Creating a tuple (1, 2, 3, 4, 5) using the range function
my_tuple = tuple(range(1, 6))
print(my_tuple)

(1, 2, 3, 4, 5)

### Accessing Elements

Tuples support indexing and slicing to access their elements:

In [8]:
fruits = ("apple", "banana", "cherry")
print(fruits[2])  # Output
print(fruits[1:]) # Output

print(fruits[-1])

cherry
('banana', 'cherry')
cherry

In [13]:
# my_tuple[0] = 12

my_tuple = (1,[2,3,6],4)

my_tuple[1][2] = 8

print(my_tuple)


# my_tuple[2] = 6 # error: 'tuple' object does not support item assignment

(1, [2, 3, 8], 4)

In [11]:
print(my_tuple)

(1, [2, 3, 8], 4)

### Tuple Unpacking

Tuples allow unpacking into individual variables:

In [17]:
coordinates = (10, 20)

# x = coordinates

x,y = coordinates # destructuring
print(x,y)  # Output: 10 20

10

### Nested Tuples

Tuples can be nested:

In [18]:
nested_tuple = ((1, 2), (3, 4))
print(nested_tuple[0])  # Output: (1, 2)
print(nested_tuple[0][1])

(1, 2)
2

## Common Tuple Operations

### Concatenation

Combine tuples using the `+` operator:

In [19]:
tuple1 = (1, 2)
tuple2 = (3, 4)
result = tuple1 + tuple2
print(result)  # Output: (1, 2, 3, 4)

(1, 2, 3, 4)

### Repetition

Repeat tuples using the `*` operator:

In [21]:
repeated_tuple : tuple[str,...] = ("A",) * 5
print(repeated_tuple)

('A', 'A', 'A', 'A', 'A')

In [22]:
new_tuple : tuple[int,] = (1,) # for single value
print(new_tuple)

(1,)

### Membership Test

Check if an element exists in a tuple using the `in` keyword:

In [23]:
fruits : tuple[str,...] = ("apple", "banana")
print("Apple" in fruits)

False

### Tuple Methods

Tuples have two built-in methods:

In [24]:
[i for i in dir(fruits) if "__" not in i]

['count', 'index']

In [25]:
dir(fruits)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

1. `.count()`: Counts occurrences of a value.

In [26]:
numbers : tuple[int] = (1, 2, 2, 2, 3)
print(numbers.count(2))  # Out

3

2. `.index()`: Returns the first index of a value.

In [29]:
numbers : tuple[int,...] = (1, 2, 3, 2)
# print(numbers.index(2,2))  # Out

first_index = numbers.index(2)
print(first_index)

print(numbers.index(2,first_index + 1))

1
3

### Iterating Over a Tuple

In [30]:
my_tuple : tuple[str,str,str] = ('apple', 'banana', 'cherry')
my_tuple : tuple[str,...] = ('apple', 'banana', 'cherry')
for fruit in my_tuple:
    print(fruit)

apple
banana
cherry

### Storing Related Data
Tuples can store related data, like coordinates or RGB color values.

In [31]:
point = (10, 20)
color = (255, 0, 0)

print(point)  # Output: (10, 20)
print(color)  # Output: (255, 0, 0)

# Example of coordinates as a tuple
my_location = (34.0522, -118.2437) # Latitude and Longitude of Los Angeles

(10, 20)
(255, 0, 0)

## TypeAlias
Type alias (often declared with TypeAlias in Python ‚â• 3.10) is a purely compile-time nickname for an existing type expression.

In [ ]:
from typing import TypeAlias

# 1) List alias ‚Äï a list of exam scores (ints)
Scores: TypeAlias = list[int]

my_scores: Scores = [90, 85, 78]

# 2) Tuple alias ‚Äï a 2-D point (x, y) with floats
Point2D: TypeAlias = tuple[float, float]

origin: Point2D = (0.0, 0.0)

# 3) Dictionary alias ‚Äï a simple phone book
PhoneBook: TypeAlias = dict[str, str]

contacts: PhoneBook = {
    "Ali":  "+923339338732",
    "Sara": "+923001234567",
}

## Applications of Tuples

Not necessary to understand now, as it's an advanced topic not yet covered.

### Using Tuples as Dictionary Keys

Since tuples are immutable, they can be used as keys in dictionaries:

Hashable: Tuples can be used as keys in dictionaries if all their elements are hashable.

Hashable objects cannot be changed after their creation. For example, integers, floats, strings, and tuples (with hashable elements) are hashable because they are immutable.

In [32]:
simple_dictionary : dict[str,int] = {
    "Ali" : 59,
    "Asim" : 78
}

print(simple_dictionary["Ali"])


locations : dict[tuple[int,int],str] = { (10, 20): "Park", (30, 40): "Mall" }
print(locations[(10, 20)])  # Output: Park

59
Park

In [ ]:
from typing import TypeAlias

Coordinates : TypeAlias = tuple[int,int]

locations : dict[Coordinates,str] = { (10, 20): "Park", (30, 40): "Mall" }
print(locations[(10, 20)])  # Output: Park

### Returning Multiple Values from Functions(after function lesson complete)

Tuples are often used to return multiple values:

In [ ]:
# def min_max(numbers):
#     return min(numbers), max(numbers)

# result = min_max([1, 2, 3, 4])
# print(result)  # Output: (1, 4)

### Storing Fixed Data

Tuples are ideal for storing data that should not change:

In [33]:
weekdays : tuple[str,...] = ("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
print(weekdays)

('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday')

In [ ]:
from typing import TypeAlias

Week : TypeAlias = tuple[str,int,str,int]
weekdays : Week = ("Monday", 20, "Tuesday", 40)
print(weekdays)

## Projects

### Project 1: Tuple Operations

Write a program that:

- Creates a tuple of numbers.
- Finds the sum and product of all elements.

In [ ]:
# tuple_var put 5 values
# for loop for sum
# for product

### Project 2: Number Classification
**Build a program that:**

- Uses list comprehension to classify numbers in a range from 1 to 5 as "odd" or "even."
- Outputs a list of tuples where each tuple contains the number and its classification.

**Break into step by step:**

You need to create a program that:
- Iterates over a range of numbers from 1 to 5.
- Uses list comprehension to classify each number as either "odd" or "even."  
`[expression for item in iterable if condition]`  
`[expression_if_true if condition else expression_if_false for item in iterable]`
- Outputs a list of tuples, where each tuple contains:
  - The number.
  - Its classification ("odd" or "even").

**  Expected Output:**
  
  [(1,"Odd"),(2,"Even"),....]

In [34]:
even_numbers = [(num,"Even") for num in range(1,6) if num % 2 == 0]
print(even_numbers)

[(2, 'Even'), (4, 'Even')]

### Project 3: Contact Book

Create a dictionary where keys are tuples (name, phone number) and values are addresses.

## Conclusion

Tuples are a fundamental data structure in Python, offering immutability, simplicity, and versatility. Whether you're using them for data integrity, as keys in dictionaries, or for returning multiple values, tuples provide a robust solution for various programming scenarios.