# Introduction to Dictionaries in Python

## What is a Dictionary?

Dictionary, a data structure in Python, is a collection of *key-value pairs*, where each *key is unique*, and each key is associated with a specific value.

Dictionary enable the association of values with unique keys, providing a way to store and retrieve information using meaningful identifiers. Dictionaries are particularly valuable when there is a need for fast data access and retrieval based on specific keys. They are versatile and widely used in scenarios where data needs to be stored and accessed in a structured manner.

## Why Do We Need Dictionaries?

### The Problem: Efficient Data Lookups

Consider a scenario where you are managing a collection of students name with score. Initially,  might think of using two separate lists. One for student names and one for their corresponding scores:

In [1]:
students : list[str ]= ["Alice", "Bob", "Charlie"]
scores : list[int] = [85, 92, 78]


To find the score of a specific student,  would need to first find the index of the student's name in the `students` list and then use that index to look up the score in the `scores` list:

In [2]:
# --- Using two parallel lists ---
# To get Bob’s score we first have to search for his index, then
# use that index in the scores list—two separate steps.

index : int = students.index("Bob")# 1
print(index)
score : int = scores[index]
print(score)

1
92

While this approach works, it quickly becomes inefficient as the lists grow in size. Searching for a student's name in the list takes time, and managing two separate lists can lead to errors, especially if they become out of sync.

### The Solution: Constant-Time Lookups with Dictionaries

Dictionaries provide a more efficient and intuitive way to handle this situation. By using student names as keys and their scores as values,  can store the data in a dictionary:

In [3]:
# --- Using a dictionary (MUCH simpler) ---
# A dictionary lets us map each student directly to a score, so we can
# retrieve Bob’s score with a single, intuitive key lookup—no index-hunting.

students_score = {
    "Alice": 85,
    "Bob": 92,
    "Charlie": 78,
    "Alice":75 # this will overwrite the previous key:vlaue
}
print(students_score["Bob"])

92

In [4]:
print(students_score)

{'Alice': 75, 'Bob': 92, 'Charlie': 78}


Now, finding a student's score is much simpler and faster:

In [5]:
score : int = students_score["Alice"]
print(score)

75

In [6]:
print(len(students_score))

3

This operation is performed in constant time, regardless of the number of students. Because of the direct indexing mechanism provided by the hash function

## What Problems Do Dictionaries Solve?

### 1. Fast Data Retrieval

Dictionaries are optimized for fast data retrieval. Instead of searching through an entire list,  can quickly access any value directly by its key.

O(1) (pronounced “order-one”) is Big-O notation for constant time.  
O(1) key look-up means you can grab a value from a dictionary almost instantly—Python jumps straight to where the item is stored instead of searching through everything—so the time it takes doesn’t grow as the dictionary gets bigger.

### 2. Clearer, More Expressive Code

Dictionaries allow us to write clearer and more expressive code. The key-value structure makes it obvious what each item represents, improving code readability.

```python

# ── Using a plain list ───────────────────────────────────────────────
# Hard to know what each slot means without a comment
student_list = ["Sikandar", 23, 3.71]      # [name, age, GPA]

name  = student_list[0]
gpa   = student_list[2]

# ── Using a dictionary ───────────────────────────────────────────────
# Keys make intent obvious at a glance
student_dict = {
    "name": "Sikandar",
    "age": 23,
    "gpa": 3.71,
}

name = student_dict["name"]
gpa  = student_dict["gpa"]

print(f"{name} has a GPA of {gpa}")

```

### 3. Flexibility in Data Organization

Dictionaries offer flexibility in how  organize data can store complex structures, like lists or other dictionaries, as values, enabling us to represent nested or hierarchical data.

```python
# A student's record stored in one flexible dictionary
student_record = {
    "name": "Sikandar",                     # simple value
    "scores": [85, 92, 78],                 # list value
    "contact": {                            # nested dictionary value
        "email": "sikandar@example.com",
        "phone": "+92-333-1234567"
    }
}

# ── Accessing nested data ────────────────────────────────────────────
print(student_record["scores"][1])          # 92  (2nd test score)
print(student_record["contact"]["email"])   # sikandar@example.com


```

## Working with Dictionaries in Python

### Important Properties
- Each key should be unique
- Key can be any immutable type of object like tuple, str, int, etc.
- `len()` function also works with dictionaries i.e. returns the length of key-value pairs
- A dictionary is a one way tool i.e. We can find the value from key but cannot find the key from value. It works the same way as original dictionary.We can find urdu meaning of word in english but not the english meaning of urdu word.
- Dictionaries are not a sequence type. So can we use for loop with dictionaries? Yes! We'll see it in below examples.

- A sequence in Python is an ordered collection of items. Because the order is fixed, you can:

    - access any element by its index (seq[0], seq[-1], etc.),

    - iterate from left to right with a for loop,

    - take slices (seq[2:5]) to get sub-sequences.

    - Built-in sequence types include list, tuple, str, bytes, and range.

### Creating a Dictionary

 can create a dictionary using curly braces `{}` or the `dict()` function.

In [10]:
# Using curly braces
students_scores : dict[str, int] = {
    "Bob": 92,
    "Charlie": 78,
    "Alice": 85,
}
print(students_scores)

{'Bob': 92, 'Charlie': 78, 'Alice': 85}

In [8]:
# Using dict() function
students_scores2 : dict[str,int] = dict(Zeeshan=80, Asif=90, Kashif=70)
print(students_scores2)

# list1 = list((1,2,3,4,5))
# print(list1)

{'Zeeshan': 80, 'Asif': 90, 'Kashif': 70}

## Accessing Values
can access values in a dictionary using the key inside square brackets `[]` or with the `.get()` method.

#### Example:

In [14]:
# Accessing a value directly by key (dictionary indexing).
# Raises a KeyError if "Ali" isn’t in the dictionary.
# print(students_scores2["Ali"])        # Error

# Accessing a value safely with get(); returns the given default
# (“value not found”) if "Ali" isn’t present.
# print(students_scores.get("Ali"))  # 92
print(students_scores.get("Ali","Key is not found"))

Key is not found

#### Handling Missing Keys
The `.get()` method is safer for accessing keys, as it returns `None` as a default value if the key is not found, rather than raising a `KeyError`.

#### Example:

In [22]:
students_scores : dict[str, int] = {
    "Bob": 92,
    "Charlie": 78,
    "Alice": 85,
}

In [23]:
# Using square brackets (raises KeyError if key is not found)
# print(student_scores["David"])  # Uncommenting this line would raise KeyError

# Using get() (returns None if key is not found)
print(students_scores.get("David"))  # Output: None

# Providing a default value with get()
print(students_scores.get("David", "Not Found"))  # Output: Not Found

None
Not Found

# Adding and Updating Items

 can add a new key-value pair or update an existing one using square brackets `[]`.

#### Example:

In [24]:
# Adding a new key-value pair
students_scores["David"] = 88
print(students_scores)

{'Bob': 92, 'Charlie': 78, 'Alice': 85, 'David': 88}

In [25]:
# # Updating an existing key-value pair
students_scores["Alice"] = 99
print(students_scores)

{'Bob': 92, 'Charlie': 78, 'Alice': 99, 'David': 88}

## Removing Items

 can remove items using the `del` statement, the `.pop()` method, or the `.popitem()` method.

#### Example:

In [26]:
# Removing a specific key-value pair using del
del students_scores["Charlie"]
print(students_scores)

{'Bob': 92, 'Alice': 99, 'David': 88}

In [28]:
# Removing a specific key-value pair using pop()
removed_score = students_scores.pop("David") # removed_score contains only value
print(removed_score)
print(students_scores)

88
{'Bob': 92, 'Alice': 99}

In [29]:
# Removing the last inserted key-value pair using popitem()
last_item = students_scores.popitem() # last_item contains key-value and convert to tuple
print(last_item)
print(students_scores)

('Alice', 99)
{'Bob': 92}

## Checking if a Key Exists

 can check if a key exists in a dictionary using the `in` keyword.

#### Example:

In [30]:
print("Alice" in students_scores)
print("Bob" in students_scores)

False
True

## Iterating Through a Dictionary

We can iterate through the keys, values, or key-value pairs in a dictionary using a `for` loop.


### Example:

In [31]:
students_scores : dict[str,int] = {
    "Alice": 85,
    "Bob": 92,
    "Charlie": 78
}

In [33]:
# Iterating through keys
for student in students_scores.keys():
    print(student)

Alice
Bob
Charlie

In [34]:
# Iterating through values
for score in students_scores.values():
    print(score)

85
92
78

In [35]:
# Iterating through key-value pairs
for student, score in students_scores.items():
    # print(f"{{{student}:{score}}}")
    print(f"Student: {student}, Score: {score}")

Student: Alice, Score: 85
Student: Bob, Score: 92
Student: Charlie, Score: 78

In [36]:
# Iterating through key-value pairs
for student in students_scores.items():
    print(f"{student}")

('Alice', 85)
('Bob', 92)
('Charlie', 78)

In [37]:
[i for i in dir(students_scores) if "__" not in i]

['clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

## Dictionary Methods

#### 1. `.keys()` Method
Returns a view object that displays a list of all the keys in the dictionary.

*Example:*

In [39]:
keys = students_scores.keys()
print(keys)
print(type(keys))

print("---------------")
convert_to_list = list(keys)
print(convert_to_list)
print(type(convert_to_list))

print("---------------")
convert_to_tuple = tuple(keys)
print(convert_to_tuple)
print(type(convert_to_tuple))

dict_keys(['Alice', 'Bob', 'Charlie'])
<class 'dict_keys'>
---------------
['Alice', 'Bob', 'Charlie']
<class 'list'>
---------------
('Alice', 'Bob', 'Charlie')
<class 'tuple'>

#### 2. `.values()` Method
Returns a view object that displays a list of all the values in the dictionary.

*Example:*

In [40]:
values = students_scores.values()
print(values)
print(type(values))

dict_values([85, 92, 78])
<class 'dict_values'>

#### 3. `.items()` Method
Returns a view object that displays a list of the dictionary’s key-value tuple pairs.

*Example:*

In [41]:
items = students_scores.items()
print(items)
print(type(items))

dict_items([('Alice', 85), ('Bob', 92), ('Charlie', 78)])
<class 'dict_items'>

#### 4. `.update()` Method
Updates the dictionary with elements from another dictionary or from an iterable of key-value pairs.

*Example:*

In [42]:
students_scores : dict[str,int] = {
    "Alice": 85,
    "Bob": 92,
    "Charlie": 78
}

In [43]:
print(students_scores)

{'Alice': 85, 'Bob': 92, 'Charlie': 78}

In [44]:
additional_scores = {"Eve": 95, "Frank": 87, 'Bob':50}
students_scores.update(additional_scores)
print(students_scores)

{'Alice': 85, 'Bob': 50, 'Charlie': 78, 'Eve': 95, 'Frank': 87}

#### 5. `.clear()` Method
Removes all items from the dictionary.

*Example:*

In [45]:
students_scores.clear()
print(students_scores)

{}

#### 5. `.copy()` Method

In [46]:
students_scores : dict[str,int] = {
    "Alice": 85,
    "Bob": 92,
    "Charlie": 78
}
new = students_scores # shallow copy
print(id(new))
print(id(students_scores))
print(new)

140140010435712
140140010435712
{'Alice': 85, 'Bob': 92, 'Charlie': 78}

In [47]:
students_scores_copy = students_scores.copy() # deep copy
print(students_scores_copy)

{'Alice': 85, 'Bob': 92, 'Charlie': 78}

In [48]:
print(id(students_scores))
print(id(students_scores_copy))

140140010435712
140140010116480

## Dictionary Comprehension
We can also apply comprehension method on dictionaries.

*Example:*

In [49]:
values : dict[int,int] = {x:x*2 for x in range(5)}
# {0:0,1:2,2:4}
print(values)

{0: 0, 1: 2, 2: 4, 3: 6, 4: 8}

*Example:* Recalling

In [51]:
fruits : list[str] = ["apple", "banana", "orange"]
list1 = [1,2,3,4,5]
list_comp = [i*2 for i in list1]
print(list_comp)

[2, 4, 6, 8, 10]

In [52]:
for i, fruit in enumerate(fruits):
    print(i,fruit)

0 apple
1 banana
2 orange

In [53]:
# convert list into dictionary
fruits : list[str] = ["apple", "banana", "orange"]

fruits_dict : dict[int,str] = {i:fruit for i, fruit in enumerate(fruits)}

print(fruits_dict)

{0: 'apple', 1: 'banana', 2: 'orange'}

## Projects

### Project 1: Student Gradebook

#### **Write a program to :**
- Create a dictionary to store student names as keys and their grades as values.
- Allow the user to input new student-grade pairs and update existing entries.

#### **Breakdown into step by step:**
1. **Initialize an empty dictionary** to store student names (keys) and their grades (values).

2. **Create a loop** to continuously allow the user to input data until they choose to stop.
  - 1. Add or Update a student
  - 2. View all students and grades
  - 3. Exit

3. **Prompt the user** to enter a student's name.

4. **Check if the name is already in the dictionary:**
   - **If it is**, then update the grade and update the dictionary.
   - **If not**, then add the grade and add into the dictionary.

5. **Ask the user** if they want to add another student or update another grade.

### Project 2: Employee Directory
Build a program to:
- Create a dictionary with employee IDs as keys and their names as values.
- Add functionalities to search, add, and delete employees.